@model ProcessScheduling.Models.Line

@{
    ViewBag.Title = "Line Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<div>
    <h4>Work Stations</h4>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Cycle Time</th>
        </tr>

        @foreach (var item in ViewBag.workstations)
        {
        <tr>
            <td>
                <a href="~/Facility/WorkStations/Details/@item.Id">@item.Name</a>
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @string.Format("{0:0.00}", ProcessScheduling.Utils.Utils.GetCycleTime(item))
            </td>
        </tr>
        }
    </table>
</div>