@model IEnumerable<ProcessScheduling.Models.Molding>

@{
    ViewBag.Title = "Moldings";
}

<h2>@ViewBag.Title</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary btn-sm">Add new</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>Part</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("Details", "Moldings", new { id = item.Id})" class="btn btn-default btn-sm">@item.Code</a>
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Description
            </td>
            <td>
                <a href="@Url.Action("Details", "Parts", new { area = "Product", id = item.Id})" class="btn btn-default btn-sm">@item.Part.Code</a>
            </td>
            <td>
                <a href="@Url.Action("Edit", "Moldings", new { id = item.Id})" class="btn btn-info btn-sm">Edit</a>
            </td>
        </tr>
    }

</table>
